.bookList {
  display: flex;
  flex-wrap: wrap;

  input {
    width: 20%;
  }
}
.book {
  padding: 1vw;
}
.bookCover {
  max-height: 200px;
  min-height: 200px;
  width: auto;

  &.hover {
    opacity: 0.4;
  }
}
.bookInfo {
  position: absolute;
  margin-top: -200px;
  max-width: 125px;

  &.behind {
    z-index: -10;
    color: transparent;
  }
}
